table.wpf-details-settings-table tr th,
table.wpf-details-settings-table tr td {
    border: 0px solid #000;
    padding: 10px;
}

table.wpf-details-settings-table tr th {
    font-weight: 600;
}


/* Alert Bar Started */

.wpf-alert {
    padding: 20px !important;
    color: white;
}

.wpf-alert.success {
    background-color: #6ABD6E;
}

.wpf-alert.error {
    background-color: #F66358;
}

.wpf-alert.warning {
    background-color: #FFAA2B;
}

.wpf-alert.info {
    background-color: #47A8F5;
}

.wpf-closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.wpf-closebtn:hover {
    color: black;
}


/* Alert Bar Ended */