table.wfp-general-content-settings-table tr th,
table.wfp-general-content-settings-table tr td,
table.wfp-general-style-settings-table tr th,
table.wfp-general-style-settings-table tr td {
    border: 0px solid #000;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

table.wfp-general-content-settings-table tr th,
table.wfp-general-style-settings-table tr th {
    font-weight: 600;
}


/* Alert Bar Started */

.wfp-alert {
    padding: 20px !important;
    color: white;
}

.wfp-alert.success {
    background-color: #6ABD6E;
}

.wfp-alert.error {
    background-color: #F66358;
}

.wfp-alert.warning {
    background-color: #FFAA2B;
}

.wfp-alert.info {
    background-color: #47A8F5;
}

.wfp-closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.wfp-closebtn:hover {
    color: black;
}


/* Alert Bar Ended */