.wfp-collapsible {
    background-color: #e8e8e8;
    padding: 0;
    width: 100%;
    text-align: left;
    outline: none;
    border: 1px solid #EAEAEA;
    border-bottom: 0px;
}

.wfp-collapsible .wfp_title_class {
    display: block;
    padding: 12px 15px;
    cursor: pointer;
    text-transform: none;
    line-height: 1;
    font-size: 12px;
    font-weight: 400;
}

.wfp-collapsible .wfp_open_cl_icon {
    color: #000000;
    float: right;
    padding: 12px 15px;
    line-height: 1;
    font-size: 12px;
}

.active,
.wfp-collapsible:hover {
    background-color: #FFF;
    color: #666;
    border: 1px solid #EAEAEA;
    border-bottom: 0px;
}

.wfp-collapsible:focus {
    background: #FFF;
    color: #242424;
    border: 1px solid #EAEAEA;
}

.wfp-content {
    padding: 0px 18px 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #EAEAEA;
    border-width: 0px 1px;
}

.wfp-content.active-first {
    min-height: 100px;
    max-height: max-content!important;
}

.wfp-content p,
.wfp-content ul {
    padding: 10px;
    margin: 0;
}