.wfp-collapsible {
    background-color: #FFF;
    color: #242424;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #EAEAEA;
    border-bottom: 0px;
    line-height: 30px;
}

.active,
.wfp-collapsible:hover {
    background-color: #FFF;
    color: #666;
    border: 1px solid #EAEAEA;
    border-bottom: 0px;
}

.wfp-collapsible:after {
    content: '\002B';
    /* f347 f343 */
    font-weight: bold;
    font-size: 22px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.wfp-collapsible:focus {
    background: #FFF;
    color: #242424;
    border: 1px solid #EAEAEA;
}

.wfp-content {
    padding: 0px 18px 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #EAEAEA;
    border-width: 0px 1px;
}

.wfp-content.active-first {
    min-height: 100px;
    max-height: max-content!important;
}

.wfp-content p {
    padding: 10px;
    margin: 0;
}